            /*...CUSTOMER...*/
body {

    
    background-image: url("New1.jpg");
    
    height: 100%;
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
    
  }