/*...CUSTOMER...*/
body {

    
    background-image: url("new3.png");
    
    height: 75%;
  
    
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    
   
    
  }