/*...CUSTOMER...*/
body {

    
    background-image: url("Spoon.jpg");
    
    height: 75%;
  
    
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
   
    
  }